<filesMatch ".(ico|jpg|jpeg|png|gif|js|css|woff)$">
Header set Cache-Control "max-age=2592000, public"
</filesMatch>

# Rewrite Engine ON
RewriteEngine on



# Redirect everything to one file
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]

